<% include ../partials/dashboard_partials/head %>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<a href="#">
					<h5><i class="fa fa-cogs" aria-hidden="true"></i>  <small>Logged in user ~</small></h5>
					<h1 class="text-center">John Doe</h1>
					<h5>Profile completion : </h5>
					<div class="progress">
					  <div class="progress-bar-info text-center progress-bar-striped" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
					    70%
					  </div>
					</div>
				</a>
			</div>
			<div class="col-md-8 dashboard-primary-menu-container">
				<ul class="dashboard-primary-menu pull-right">
					<li><a href="/space"> Space</a></li>
					<li><a href="#"> Team</a></li>
					<li><a href="#"> People</a></li>
					<li><a href="#"> Permissions</a></li>
					<li><a href="#"> How Dockety works?</a></li>
				</ul>
			</div>
		</div>

		<hr>
		<div class="row">
			<div class="col-md-7">
				<div class="h3">Writings <small>(1)</small><a href="#" class="view-all"> View all</a></div>
				<hr>
				<div class="col-md-12">
					<div class="col-md-3">10-July-2016</div>
					<div class="col-md-9">Managing nginx and configuring load balancer to handle incoming traffic effectively</div>
				</div>
			</div>
			<div class="col-md-5">
				<div class="h3">Spaces <small>(2)</small></div>
				<hr>
				<input type="hidden" name="spaces" id="spaces_hidden" value="['Personal', 'Global']">
				<input type="hidden" name="spaces" id="counts_hidden" value="[2,9]">
				<div class="col-md-12">
					
				
				</div>
			</div>
		</div>
	</div>
<% include ../partials/dashboard_partials/foot %>
