<% include ../partials/index_partials/head %>
	<div class="container">
		<div class="col-md-4">
			<ol>
				<li><h4><a href="#Ans_1">What is <b>Dockety?</b></a></h4></li>
				<li><h4><a href="#">Why Dockety?</a></h4></li>
				<li><h4><a href="#">I dont understand how Dockety works?</a></h4></li>
				<li><h4><a href="#">Who are the users of Dockety?</a></h4></li>
				<li><h4><a href="#">What does Private team means here?</a></h4></li>
				<li><h4><a href="#">What does Public team means here?</a></h4></li>
				<li><h4><a href="#">How to make a TEAM?</a></h4></li>
				<li><h4><a href="#">How to make a public TEAM?</a></h4></li>
				<li><h4><a href="#">How to make a provate TEAM?</a></h4></li>
				<li><h4><a href="#">What is "Space"?</a></h4></li>
				<li><h4><a href="#">What if I dont want Space but teams?</a></h4></li>
				<li><h4><a href="#">What is the need of CODE at time of Space creation?</a></h4></li>
			</ol>
		</div>
		<div class="col-md-8">
			<p id="Ans_1">
				<h2>#1 > What is <b>Dockety?</b></h2>
				<hr>
				<div>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
			</p>
		</div>
	</div>
<% include ../partials/index_partials/foot %>