<% include ../partials/index_partials/head %>
	<div class="container">
		<div class="col-md-4">
			<ol>
				<li><h4><a href="#Ans_1">What is <b>Dockety?</b></a></h4></li>
				<li><h4><a href="#Ans_2">Why Dockety?</a></h4></li>
				<li><h4><a href="#">Who are the users of Dockety?</a></h4></li>
				<li><h4><a href="#">How to make a TEAM?</a></h4></li>
				<li><h4><a href="#">How to join a TEAM?</a></h4></li>
				<li><h4><a href="#">What is "SPACE"?</a></h4></li>
				<li><h4><a href="#">What if I dont want Space but teams?</a></h4></li>
				<li><h4><a href="#">What is the need of CODE at time of Space creation?</a></h4></li>
			</ol>
		</div>
		<div class="col-md-8">
			<p id="Ans_1">
				<h2>#1 : <b>What</b> is Dockety?</h2>
				<hr>
				<div>
					If you are an organisation, then Dockety is your friend, which helps you create, organize and manage any documentation that your organization values. You can:
					<ul>
						<li>Create multiple departments/spaces.</li>
						<li>Create multiple teams within each departments/spaces.</li>
						<li>Invite people to your team.</li>
						<li>Manage priviledges/permssions of each users.</li>
						<li>Create documents, and preview on the fly.</li>
						<li>Share your document/ article with people outside your group.</li>
						<li>And many more.</li>
					</ul> 

					If you are an individual, then you can simply signin and start writing right away. Whether you want to store safely your hard work or share your cool achievements with people out there, Dockety is your best buddy.
				</div>
			</p>
			<br>
			<p id="Ans_2">
				<h2>#2 : <b>Why</b> Dockety?</h2>
				<hr>
				<div>
					Because its cool. ^_^ Dockety is secure, fast, flexible, organized, user friendly , well documented and has active support team. You will find almost everything you need to document your stuff, if there's anything you find missing, please inform us. We will study the feasibility and requirement and get back to you with a solution.
				</div>
			</p>
			<br>
			<p id="Ans_4">
				<h2>#4: How to <b>make a TEAM?</b></h2>
				<hr>
				<div>
					To create a private team, you need to create a space first. You cannot create team in your personal space. Once the space is created then you have to:
					<ul>
						<li>Go to Teams from the menu. </li>
						<li>There enter "Team name" first. </li>
						<li>Give a brief description of the team.</li>
						<li>Choose the space where you want the team to be created.</li>
						<li>Enter email addresses (comma separated with no gap/blank_space) of the team members (Optional)</li>
						<li>Click on the "Create team" button</li>
					</ul>
					By default the admin of the team is the creator of the team.
				</div>
			</p>
			<br>
			<p id="Ans_5">
				<h2>#5 : How to <b>join a TEAM?</b></h2>
				<hr>
				<div>
					There are 2 ways to join a team.
					<ol>
						<li> (RECOMMENDED way)If you know the team admin, simply ask him to share the space-CODE and team-CODE. Then click on the "Join team" from the menu bar. There you can simply enter the respective codes and send a request to the team admin. Thats it from your part. Then the team admin is supposed to verify and accept your invitation. If he does accept then you will become a member of the team.</li>
						<li>Click on "Join team" from menu bar then search the team by name. Once you find the team. Click on " + Join" button. The invition will be sent to the admin to accept.</li>
					</ol>
				</div>
			</p>
			<br>

		</div>
	</div>
<% include ../partials/index_partials/foot %>