<% include ../partials/index_partials/head %>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6">
					<a class="col-md-12" href="/">
		            	<img src="images/inf.png" class="logo" ondragstart="return false;" />
		            </a>
		            <div class="row">
			            <div class="col-md-12">
			            	<% if( typeof login_error != 'undefined') {%>
			            		<div class="mike-error"><%= login_error %></div>
			            	<% } %>
			            	<form method="post" action="/login">
			                    <div class="form-group">
			                        <input type="text" class="login-ip" name="email" placeholder="Email">
			                        <input type="password" class="login-ip" id="password" name="password" placeholder="********">
			                    </div>
			                    <div class="form-group">
			                    	<ul class="login-navs">
			                    		<!-- <li><a href="#"><input type="checkbox" name=""> Remember me</a></li> -->
			                    		<li><a href="#">Forgotten password?</a></li>
			                    		<li><button type="submit" class="btn btn-default">Sign in</button></li>
			                    	</ul>
			                    </div>
			                </form>
			            </div>
		            </div>
				</div>
				<div class="col-md-6">
					<form method="post" action="/create">
						<div class="signup-heading">
							<h3>Sign up</h3>
							<small>Well this is all we need to get started.</small>
						</div>
						<div class="divider-signup"></div>
						<% if( typeof success != 'undefined') {%>
			            	<div class="mike-success"><%= success %></div>
			            <% } %>
						<% if( typeof error != 'undefined') {%>
			            	<div class="mike-error"><%= error %></div>
			            <% } %>
						<table class="signup-tab"> 
							<tr>
							    <td>We need your&nbsp;</td>
							    <td>
							    	<div class="form-group text-center">
										<label>Email</label>
				                        <input type="text" class="form-control" name="email" placeholder="Email">
				                    </div>
							    </td>
							    <td>&nbsp; for identification</td>
							</tr>
							<tr>
							    <td>You will need a&nbsp;</td>
							    <td>
							    	<div class="form-group text-center">
										<label>Password</label>
				                        <input type="password" class="form-control" name="password" placeholder="Password">
				                    </div>
							    </td>
							    <td>&nbsp; to sign in</td>
							</tr>
						</table>
						<div class="divider-signup"></div>
						<table>
							<tr>
								<td class="col-md-7">
									<small class="too-small">By clicking the Sign Up button, you agree to our Terms and conditions also the Policies.</small>
								</td>
								<td>
									<button type="submit" class="btn btn-default signup-button">Sign up</button>
								</td>
							</tr>
						</table>
						<div class="divider-signup"></div>
				</div>
			</div>
		</div>
	</div>

<% include ../partials/index_partials/foot %>