<% include ../partials/markdown_partials/head %>

	<div class="container-fluid">
		<div class="row twins">
			<div class="col-md-6 ">
				<div class="">
					<span class="pull-left">
						<a href="#" class="toggle_autosave" data-status="off"><span class="fa fa-toggle-off fa-lg" aria-hidden="true"></span> &nbsp;<small>Turn ON auto-save after every 4 mins</small></a>
					</span> 
					<span class="pull-right"> 
						<a href="#" class="btn btn-default"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; Save</a>
						<a href="#" class="btn btn-default"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp; Clear</a>
						<a href="#" class="btn btn-default"><i class="fa fa-times" aria-hidden="true"></i>&nbsp; Delete</a>
					</span>
				</div>
				<textarea id="editor" placeholder="Start documenting.."></textarea>
			</div>
			<div class="col-md-6">
				<div class="text-center"> <label>Preview</label> </div>
				<div class="col-md-12 preview">
					
				</div>		
			</div>	
		</div>
	</div>

<% include ../partials/markdown_partials/foot %>