<% include ../partials/markdown_partials/head %>

	<div class="container-fluid">
		<div class="row twins">
			<div class="col-md-12">
				<div class="col-md-6 text-center"> <label>Editor</label> </div>
				<div class="col-md-6 text-center"> <label>Preview</label> </div>
			</div>
			<div class="col-md-6 ">
				<textarea id="editor"></textarea>
			</div>
			<div class="col-md-6 preview">
				
			</div>			
		</div>
	</div>

<% include ../partials/markdown_partials/foot %>