<% include ../partials/markdown_partials/head %>

	<div class="container-fluid">
		<div class="row twins">
			<div class="col-md-6 ">
				<div class="text-center"> <label>Editor</label> </div>
				<textarea id="editor" placeholder="Start documenting.."></textarea>
			</div>
			<div class="col-md-6">
				<div class="text-center"> <label>Preview</label> </div>
				<div class="col-md-12 preview">
					
				</div>		
			</div>	
		</div>
	</div>

<% include ../partials/markdown_partials/foot %>