<% include ../partials/dashboard_partials/head %>
	<div class="container">
		<h2>Create new space</h2>
		<div class="row">
			<form action="/space/create" method="post">
				<div class="col-md-6">
					<div class="form-group">
						<label for="space_name">Space name:</label>
						<input type="text" class="form-control" id="space_name" placeholder="{ Department | Organisation }">
					</div>
					<div class="form-group">
						<label for="spae_desc">Space description:</label>
						<textarea class="form-control" rows="5" id="spae_desc" placeholder="This space is about ~ "></textarea>
					</div>
					<button class="btn btn-default pull-right"> Create space </button>
				</div>
				<div class="col-md-6">
					<h4>What is "SPACE"?</h4>
					<h5><label> > How is it important? </label></h5><hr>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
				</div>
			</form>
		</div>
	</div>
<% include ../partials/dashboard_partials/foot %>