<% include ../partials/dashboard_partials/head %>
	<div class="container">
		<h2>Create new space</h2>
		<div class="row">
			<form action="/space/create" method="post">
				<div class="col-md-6">
					<div class="col-md-12">
						<div class="form-group">
							<label for="space_name">Space name:</label>
							<input type="text" class="form-control" id="space_name" placeholder="{ Department | Organisation }">
						</div>
						<div class="form-group">
							<label for="spae_desc">Space description:</label>
							<textarea class="form-control" rows="3" id="spae_desc" placeholder="This space is about ~ "></textarea>
						</div>
						<div class="form-group">
							<button class="btn btn-default pull-right"> Create space </button>
						</div>
					</div>
					
					<hr>
					<div class="col-md-12">
						<div class="h3"><label>What is this SPACE? </label> Why is it important?</div>
						<p>
							<b>If you are an organisation</b>, then <b>Space</b> is first step (or parent) which you need
							to create to keep everything organized. Consider it is a virtual directory within which you create <b>
							Teams</b>. Where <b>Team</b> will contain <b>Members/Users</b> who are responsible for creating articles 
							(private/public).
							<br>
							<b>For personal usage</b> you do not necessarily have to create any space. At the time of account creation,
							we provide you with a personal space where you can document your work privately. Also you can publish your 
							article/documentation globally, for the world to know about your work, <u>(and helping people with your knowledge)</u>.
						</p>
					</div>
				</div>
				<div class="col-md-6">
					<p class="text-center"><img src="images/hierarchy.svg"></p>
				</div>
			</form>
		</div>
	</div>
<% include ../partials/dashboard_partials/foot %>