	<footer>
		<div>
			<span>Copyright&copy; 2016. All rights reserved.</span>
			<span class="pull-right"><a href="/FAQ">FAQs</a> | <a href="javascript:;">About</a></span>
		</div>
	</footer>
		<script	type="text/javascript" src="js/lib/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/lib/_context_menu.min.js"></script>
		<script type="text/javascript" src="js/dashboard.js"></script>
	</body>
</html>