<% include ../../partials/dashboard_partials/head %>
	<div class="container" id="dashboard_view">
		<div class="row">
			<div class="col-md-4">
				<a href="/profile">
					<h5><i class="fa fa-cogs" aria-hidden="true"></i>  <small>Logged in user ~</small></h5>
					<h1 class="text-center"><%= typeof user.name == 'undefined' ? user.email : user.name %></h1>
					<h5>Profile completion : </h5>
					<div class="progress">
					  <div class="progress-bar-info text-center progress-bar-striped" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
					    70%
					  </div>
					</div>
				</a>
			</div>
			<div class="col-md-8 dashboard-primary-menu-container">
				<ul class="dashboard-primary-menu pull-right">
					<li><a href="/space"> Space</a></li>
					<li><a href="/team"> Team</a></li>
					<li><a href="#"> People</a></li>
					<li><a href="/profile"> Profile</a></li>
					<li><a href="/FAQ"> FAQs</a></li>
				</ul>
			</div>
		</div>

		<hr>
		<div class="row">
			<div class="col-md-7">
				<div class="h3">The Tree</div>
				<hr>
				<div class="col-md-12">
					<%if( spaces.length == 0 ){ %> 
						<small>It seems you dont have any space created.<a href="/space"> Please start with creating a space.</a></small>
					<%}else{%>
						<div class="tree well">
							<ul>
								<%for( var i in spaces ){%> 
									<li>
										<span class="fetch_teams" data-fetched="false" data-id="<%= spaces[i]['_id'] %>" data-fetch="teams">
											<i class="fa fa-folder-open" aria-hidden="true"></i> <%= spaces[i]['space_name'] %>
										</span> <a href=""><i class="fa fa-cog" aria-hidden="true"></i></a>
									</li>
								<%}%>
							</ul>
						</div>
					<%}%>
				</div>
			</div>
			<div class="col-md-5">

			</div>
		</div>
	</div>
<% include ../../partials/dashboard_partials/foot %>
