<!DOCTYPE html>
<html>
<head>
	<title><%=typeof title == 'undefined' ? 'Influence' : title%></title>
	 <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="css/custom.css">
</head>
	<body>

		<div class="navbar navbar-default">
		    <div class="container">
		        <div class="navbar-header">
		            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		            <a class="navbar-brand" href="#">
		            	<img src="images/inf.svg" height="40" ondragstart="return false;" />
		            	<small>influence</small>
		            </a>
		        </div>
		        <div>
		            <div class="navbar-collapse collapse in" id="navbar-main">
		                <form class="navbar-form navbar-right" role="search">
		                    <div class="form-group">
		                        <input type="text" class="form-control" name="username" placeholder="Username">
		                        <div><a href="#">Forgotten something?</a></div>
		                    </div>
		                    <div class="form-group">
		                        <input type="password" class="form-control" name="password" placeholder="Password">
		                    	<div><a href="#"><input type="checkbox" name=""> Remember me</a></div>
		                    </div>
		                    <div class="form-group">
		                    	<button type="submit" class="btn btn-default">Sign In</button>
		                    	<div>&nbsp; </div>
		                    </div>
		                </form>
		            </div>
		        </div>
		    </div>
		</div>				