body{
	margin-top: 70px;
}
.logo{
	height: 100px;
	margin: 30px 0px;
}
.login-ip{
	padding:7px;
	margin: 5px 3px 0px 0px;
	width: 90%;
}
.login-navs li{
	display: inline-block;
	margin-right: 20px;
}
.btn{
	border:2px solid #787878 !important;
	border-radius: 1px !important;
}
 input{
	border:1px solid #787878 !important;
	border-radius: 1px !important;
}
.hide-this{
	display:none;
}
.navbar-brand{
	padding-top: 5px !important;
}
.too-small{
	font-size:x-small;
}
.divider-signup{
	width: 80%;
	height: 1px;
	background-color: #C0C0C0;
	margin: 15px;
}
.signup-tab{
	margin-left: 20px;
}
.signup-heading{
	margin-left: 15px;
}
a{
	text-decoration: none !important;
	color: #696969;
}
a:hover, a:active{
	text-decoration: none !important;
	color: #353535 !important;
}

.mike{
	padding:15px 22px;
	border:2px dotted black;
	margin-left: 15px;
}