.btn, input{
	border-radius: 1px !important;
}
.navbar-brand{
	padding-top: 5px !important;
}
.too-small{
	font-size:x-small;
}
.divider-signup{
	width: 80%;
	height: 1px;
	background-color: #C0C0C0;
	margin: 15px;
}
.signup-tab{
	margin-left: 20px;
}
.signup-heading{
	margin-left: 15px;
}
.signup-button{
	border: 2px solid #C0C0C0 !important;
}
a{
	text-decoration: none !important;
	color: #696969;
}
a:hover, a:active{
	text-decoration: none !important;
	color: #353535 !important;
}