/* dashboard.css */
body{
	/*padding-top: 50px;*/
}
footer{
	margin-top: 50px;
	padding: 10px 30px;
	color: #A4A4A4;
	border-top: 1px dashed #E6E6E6;
	height: 5vh;
}
a{
	text-decoration: none !important;
	color: #7C7C7C;
}
a:hover{
	color: #353535 !important;
}
.circle-button{
	padding: 3px 6px;
	border:1px solid #c0c0c0;
	border-radius: 50%;
}
.btn, input, textarea {
	border-radius: 1px !important;
	border:1px solid #c0c0c0;
}

.hide-this{
	display: none;
}
.mike-error{
	width: 100%;
	padding: 7px 12px;
	background-color: #DF013A;
	color: #fff;
	margin-bottom: 10px;
}
.mike-success{
	width: 100%;
	padding: 7px 12px;
	background-color: #04B431;
	color: #fff;
	margin-bottom: 10px;
}
/*------- Create new doc button start -------- */

.create_dropdown{
	background-color: #4F4F4F !important;
	color: #F7F7F7 !important;
	border-radius: 0px 0px 10px 10px;
}
.create_document_text{
	color: #fff !important;
	padding: 7px 11px !important;
}
.create_document_text:hover, .create_document_text:active{
	background-color: #F7F7F7 !important;
	color: black !important;
}
/*------- Create new doc button end -------- */


#logo{
	height: 40px;
	position: relative;
	top: -10px;
	left: -10px;
}
/*-------------------------------------------------*/
/*------------------ DASHBOARD --------------------*/
.progress-bar-info{
	background-color: #0B4C5F;
	color: #fff;
}

.dashboard-primary-menu li{
	display: inline-block;
	margin:6px 1px;
	padding:7px 12px;
	color: #353535;
	background-color: #E0E0E0;
}
.h3{
	font-weight: 500;
	font-size: 20px;
}
.view-all{
	font-size: 13px;
}

.single_asyncElement{
	border:1px solid #696969;
	margin-bottom: 4px;
	padding: 5px 10px 0px 10px;
}
.single_asyncElementTitle{
	color: #696969;
	font-size: 14px;
}
.single_asyncElementConfig{
	color: #c0c0c0;
}
.fetch_articles{
	cursor: pointer;
}

/*{ THE TREE Styles }*/
.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    /*-moz-border-radius:5px;*/
    /*-webkit-border-radius:5px;*/
    border:1px solid #999;
   /* border-radius:5px;*/
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}
.fetch_teams{
	cursor: pointer;
}
/*-------------------------------------------------*/
/*------------------ SPACE --------------------*/

#space_code{
	padding: 6px;
	width: 30%;
}
.single_space{
	background-color: #696969;
	color: #fff;
	margin: 2px;
}
.single_spaceTitle label{
	padding:5px 10px;
	font-size:17px;
	color: #CEF6CE;
}
.single_spaceTitle a{
	color: #c0c0c0;
	padding: 5px 15px;
}
/*-------------------------------------------------*/
/*------------------ ACCOUNT --------------------*/
#map-canvas{
	height: 500px;
}